.box {
   overflow: hidden;
   box-shadow: 0 0 21px 2px #ddd;
   border-radius: $border-radius;
   width: 90vw;
   margin: 0 20px;
   @include media-query(mobile-up) {
      width: 700px;
   }
   &__header,
   &__bottom > div {
      padding: 30px;
      @include media-query(mobile-up) {
         padding: 35px;
      }
   }
   &__header {
      background-color: $white;
      @include media-query(mobile-up) { // for padding

      }
      &-title {
         font-size: 1.5rem;
         color: $cyan;
      }
      &-offer {
         color: $bright-yellow;
         font-size: 1.2rem;
         margin: 15px 0;
         line-height: 1.5;
      }
      p {
         line-height: 1.7;
         color: $grayish-blue;
      }

   }

   &__bottom {
      @include media-query(mobile-up) {
         display: grid;
         align-items: center;
         grid-template-columns: 1fr 1fr;
      }
      color: $white;
      h3 {
         font-weight: 400;
         font-size: 1.2rem;
         margin-bottom: 1.4rem;
         line-height: 1.4;
      }
      &-sub {
         background-color: $cyan;
         &-price {
            color: #ffffffb0;
            display: flex;
            align-items: center;
            margin-bottom: .6rem;
            span {
               font-size: 2rem;
               font-weight: 700;
               color: $white;
               margin-right: 10px;
            }
         }
         &-signup {
            display: block;
            border: 0;
            color: $white;
            background-color: $bright-yellow;
            border-radius: 7px;
            width: 100%;
            padding: 18px;
            font-size: 1.2rem;
            margin-top: 2.4rem;
            cursor: pointer;
            transition: .3s;
            &:hover {
               background-color: hsl(71deg, 69%, 51%);
            }
         }
      }
      &-about-us {
         height: 100%;
         background-color: $light-cyan;
         p {
            color: $light-gray;
         }
      }
   }
}
